*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}
/* main navigation coffee shop*/
.mainmenu {
  background-color: #fff0ed;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.mainmenu__title {
  font-size: 2.375rem;
  font-weight: 400;
  color: #393939;
  text-align: left;
  display: inline-block;
}
.mainmenu__item {
  display: inline-block;
  padding: 0.5em;
  font-size: 18px;
  font-weight: 500;
}
.mainmenu_icon {
  display: flex;
}
a:link {
  color: #393939;
  text-decoration: none;
  text-transform: uppercase;
}
a:visited {
  color: transparent;
  text-decoration: none;
}

.footer__titles {
  font-size: 33px;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer__text {
  font-size: 18px;
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 5px;
}

.footer {
  background-color: #fff0ed;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 40px;
  position: relative;
  overflow: hidden;
}
.footer::before {
  content: "";
  background-image: url("../assets/coffee-beans-logo-and-footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height: 120px;
  position: absolute;
  top: -10px;
  left: -30px;
}
.footer::after {
  content: "";
  background-image: url("../assets/coffee-beans-logo-and-footer.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height: 120px;
  position: absolute;
  bottom: -10px;
  right: -30px;
}
