*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}
/* main navigation coffee shop*/
.mainmenu {
  background-color: #fff0ed;
  padding: 15px;
  display: flex;
}
.mainmenu__title {
  font-size: 2.375rem;
  font-weight: 400;
  color: #393939;
  text-align: left;
  display: inline-block;
}
.mainmenu__item {
  display: inline-block;
  padding: 0.5em;
  font-size: 18px;
  font-weight: 500;
}
.mainmenu_icon {
  display: inline-block;
}
a:link {
  color: #393939;
  text-decoration: none;
  text-transform: uppercase;
}

.footer__titles {
  font-size: 33px;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer__text {
  font-size: 18px;
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 5px;
}
